body {
  font-size: 80%;
  padding: 20px;
}

main {
  background: white;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

div h1 {
  font-family: 'Flamenco', cursive;
  font-size: 16vw;
  text-align: center;
  color: grey;
  width: 50%;
  margin: auto;
  font-weight: lighter;
}

div img {
  width: 16vw;
  height: 16vw;
  margin: auto;
}

h1 {
  font-size: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: grey;
  margin: auto;
}

main button {
  font-family: 'Montserrat', sans-serif;
  background-color: #b4884c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
}