* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

.page-content {
  background: #cecece;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-item {
  flex-grow: 1;
  height: 50vh;
  width: 33.333vw;
  //Everything below is just style
  background: #000;
  &:nth-child(2n) {
    background: #cecece;
  }

  .flex-item {
    background: #232323;
    &:nth-child(2n) {
      background: #565656;
    }
  }
}
