.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page-content {
  background: #cecece;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item {
  flex-grow: 1;
  height: 50vh;
  width: 33.333vw;
  background: #000;
}
.flex-item:nth-child(2n) {
  background: #cecece;
}
.flex-item .flex-item {
  background: #232323;
}
.flex-item .flex-item:nth-child(2n) {
  background: #565656;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

/*# sourceMappingURL=styles.css.map */
